name: Release

on:
  repository_dispatch:
    types: [swiftlint-release]

jobs:
  release:
    runs-on: ubuntu-slim
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Update binary package
        run: >
          sed -i
          -e "s#/[0-9]\{1,\}\.[0-9]\{1,\}\.[0-9]\{1,\}[^/]*/#/${{ github.event.client_payload.tag }}/#"
          -e "s/[a-fA-F0-9]\{64\}/${{ github.event.client_payload.checksum }}/"
          Package.swift
      - name: Configure Git author
        id: configure_git_author
        uses: Homebrew/actions/git-user-config@main
        with:
          username: ${{ github.repository_owner }}
      - name: Configure author
        run: |
          git config --local user.name "${{ steps.configure_git_author.outputs.name }}"
          git config --local user.email "${{ steps.configure_git_author.outputs.email }}"
      - name: Commit
        run: |
          git add Package.swift
          git commit -m "Release ${{ github.event.client_payload.tag }}"
      - name: Push changes
        run: git push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b3 # v1.20.0
        with:
          name: ${{ github.event.client_payload.title }}
          tag: ${{ github.event.client_payload.tag }}
          body: >
            Check out the changes made in the
            [SwiftLint release](https://github.com/realm/SwiftLint/releases/tag/${{ github.event.client_payload.tag }})
            associated with this version.
          draft: false
          prerelease: ${{ github.event.client_payload.prerelease }}
