name: Tests

on:
  push:
    branches:
      - main
  pull_request:

defaults:
  run:
    working-directory: ./SwiftLintPluginsTest

jobs:
  spm:
    name: SPM, ${{ matrix.display_name }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: macos-14
            display_name: "macOS 14"
          - os: macos-15
            display_name: "macOS 15"
          - os: macos-26
            display_name: "macOS 26"
          - os: ubuntu-24.04
            display_name: "Ubuntu 24.04"
          - os: ubuntu-24.04-arm
            display_name: "Ubuntu 24.04 (ARM)"
    steps:
      - &checkout-step
        name: Checkout SwiftLintPlugins
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          path: SwiftLintPlugins
          persist-credentials: false
      - name: Create project directory
        run: mkdir SwiftLintPluginsTest
        working-directory: .
      - name: Configure project
        run: |
          swift package init --type executable
          cp ../SwiftLintPlugins/.github/workflows/Package.swift .
          echo "let myVar = 0 as! Int" > Sources/main.swift
          echo "included: [Sources]" > .swiftlint.yml
      - name: Let build fail
        id: failed_build
        run: swift build
        continue-on-error: true
      - name: Verify that build failed
        if: ${{ steps.failed_build.outcome != 'failure' }}
        run: exit 1
      - name: Let command fail
        id: failed_command
        run: swift package plugin --allow-writing-to-package-directory swiftlint
        continue-on-error: true
      - name: Verify that command failed
        if: ${{ steps.failed_command.outcome != 'failure' }}
        run: exit 1
      - name: Change to warning
        run: |
          echo "force_cast: warning" > .swiftlint.yml
      - name: Check that all commands pass
        run: |
          swift package plugin --allow-writing-to-package-directory swiftlint | grep -q "Force Cast Violation"

  xcode:
    name: Xcode ${{ matrix.xcode_version }}, ${{ matrix.display_name }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: macos-14
            display_name: "macOS 14"
            xcode_version: "15.4"
          - os: macos-15
            display_name: "macOS 15"
            xcode_version: "16.4"
          - os: macos-26
            display_name: "macOS 26"
            xcode_version: "26.0"
    steps:
      - *checkout-step
      - name: Create project directory
        run: mkdir SwiftLintPluginsTest
        working-directory: .
      - name: Configure project
        run: |
          swift package init --type executable
          cp ../SwiftLintPlugins/.github/workflows/Package.swift .
          echo "let myVar = 0 as! Int" > Sources/main.swift
          echo "included: [Sources]" > .swiftlint.yml
      - name: Let Xcode build fail
        id: failed_xcode_build
        run: xcodebuild -scheme SwiftLintPluginsTest -destination 'platform=macOS' -skipPackagePluginValidation build
        continue-on-error: true
      - name: Verify that Xcode build failed
        if: ${{ steps.failed_xcode_build.outcome != 'failure' }}
        run: exit 1
      - name: Change to warning
        run: |
          echo "force_cast: warning" > .swiftlint.yml
      - name: Check that all commands pass
        run: xcodebuild -scheme SwiftLintPluginsTest -destination 'platform=macOS' -skipPackagePluginValidation build | grep -q "Force Cast Violation"
